@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import "tailwindcss";


@theme {
  --font-delius: "Delius Swash Caps", cursive;

  --animate-fadeIn: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0};
  100% { opacity: 1};
}


@plugin "daisyui" {
  themes: night;
};
